.instruction-container{
    &::-webkit-scrollbar {
      width: 4px;
    }

    &::-webkit-scrollbar-track {
      background: var(--primary-40);
    }

    &::-webkit-scrollbar-thumb {
      background: var(--primary-80);
    }

    &::-webkit-scrollbar-thumb:hover {
      background: var(--primary-DEFAULT);
    }
  }