<div class="fixed bg-shade-50 w-full h-12 faq-header">
  <div class="flex items-center gap-4 mt-3 ml-3" (click)="goBack()">
    <img
      class="cursor-pointer"
      src="../../../assets/icons/back-arrow.svg"
      alt=""
    />
    <img class="logo" src="../../../assets/images/logo.svg" alt="" />
  </div>
</div>

<div class="faq-wrapper p-4">
  <div class="flex justify-center">
    <div class="w-[90%] md:w-1/2">
      <h1 class="mt-16 mb-8 text-4xl text-center text-content">FAQ</h1>

      <div class="mt-8">
        <h2 class="font-bold text-primary">What is Shiksha copilot?</h2>
        <ul class="list-disc">
          <li class="list-item">
            Shiksha copilot is a part of project VELLM (universal empowerment
            with LLMs) from Microsoft Research India. It is a copilot experience
            built for teachers (through webapp/ telegram) to create their own
            lesson plans and learning experiences for next classes that they
            would be teaching using this copilot.
          </li>
          <li>
            As a teacher, you can select the curriculum that you are teaching,
            the grade, the subject and chapter that you would like to teach in
            your next classes and build engaging learning experiences for
            teaching in the class. This includes real world examples, analogies,
            hands on activities, assessments etc. Once these engaging learning
            experiences are generated, the teacher can validate the content.
            Shiksha copilot then automatically creates deliverables like lesson
            plant document, presentation and student handout using this
            validated lesson plan.
          </li>
        </ul>
      </div>

      <div class="mt-8">
        <h2 class="font-bold text-primary">What can Shiksha copilot do?</h2>
        <ul class="list-disc">
          <li class="list-item">
            Shiksha copilot plays the role of a virtual assistant to teachers.
            It assists the teacher by creating more engaging and personalized
            experiences, driven by learning outcomes thus reducing manual effort
            and expediating the content creation process.
          </li>
          <li>
            The teachers can create many engaging learning experiences like
            hands-on-activities, assessments, real-world examples or analogies
            etc.
          </li>
          <li>
            Once the teachers create the lesson plans, the content would be
            available in docx and ppt format to be directly consumed in their
            classroom.
          </li>
          <li>
            Teachers can also interact with in chat in a free-flowing
            conversation to ask questions or generate new learning experiences.
          </li>
        </ul>
      </div>

      <div class="mt-8">
        <h2 class="font-bold text-primary">
          What is/are Shiksha copilot's intended use(s)?
        </h2>
        <ul class="list-disc">
          <li class="list-item">
            Shiksha copilot's intended use is working with teachers and
            empowering teachers across the globe to generate personalized and
            engaging learning experiences unique to their students' needs,
            thereby improving the overall learning outcomes.
          </li>
          <li>
            Working with Microsoft Research, India Sikshana Foundation is
            piloting Shiksha copilot with thousand teachers to understand the
            usability of such a copilot for teachers and get the feedback to
            improve the Shiksha copilot prototype.
          </li>
        </ul>
      </div>

      <div class="mt-8">
        <h2 class="font-bold text-primary">
          How was Shiksha copilot evaluated? What metrics are used to measure
          performance?
        </h2>
        <ul class="list-disc">
          <li class="list-item">
            Microsoft Research has performed a qualitative analysis to evaluate
            the quality of the Shiksha copilot system using the internal testing
            team and received early feedback from Sikshana Foundation. To
            measure any possible harms through the system, they have performed
            two rounds of red teaming.
          </li>
          <li>
            Microsoft Research actively performs automatic content moderation on
            content generated by (and input to) the Shiksha copilot using Azure
            Content Filtering. Meta prompts are used for providing guidelines to
            the copilot to generated education related content only and generate
            the content that is unbased and respectful.
          </li>
          <li>
            Microsoft Research also monitors the system responses through
            anonymous telemetry to identify ongoing issues with the system and
            makes periodic improvements.
          </li>
        </ul>
      </div>

      <div class="mt-8">
        <h2 class="font-bold text-primary">
          What are the limitations of Shiksha copilot? How can users minimize
          the impact of Shiksha copilot's limitations when using the system?
        </h2>
        <ul class="list-disc">
          <li class="list-item">
            Shiksha copilot generates the content using AI. The AI generated
            content may have some errors rarely. So, the users of Shiksha
            copilot should validate the content before using this content in
            their classrooms.
          </li>
          <li>
            The AI systems used in Shiksha copilot are capable of generating
            text in languages other than English, but performance for
            non-English languages needs to be assessed and improved for Shiksha
            copilot. Shiksha copilot users are requested to provide feedback on
            specific issues that they see during the pilot deployment.
          </li>
        </ul>
      </div>

      <div class="mt-8 mb-8">
        <h2 class="font-bold text-primary">
          What operational factors and settings allow for effective and
          responsible use of Shiksha copilot?
        </h2>
        <ul class="list-disc">
          <li class="list-item">
            Shiksha copilot is best used in English language where we have
            evaluated and applied quality measures and harm mitigations.
          </li>
          <li>
            Shiksha is deployed with human experts like teachers in the loop.
            So, the teachers should evaluate and validate AI generated responses
            before delivering the content eventually. This also provides
            continuous anonymized feedback to improvise the system.
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
