<div>
  <div class="flex items-center gap-2">
    <img
      src="../../../../../assets/icons/back-arrow.svg"
      alt=""
      class="cursor-pointer"
      (click)="previousStep()"
    />
    <h2 class="text-base md:text-xl font-bold text-content">
      Step {{ currentStep }}/{{ totalSteps }}: Blue Print
    </h2>
  </div>
  <p class="text-sm md:text-base">Review the blue print and generate the question paper.</p>
</div>

<div class="md:h-[50vh] md:w-[20vw] rounded relative md:sticky md:top-20 md:float-right mt-2 md:mt-0">
  <div class="bg-warn-50 p-2 rounded">
    <div class="flex items-start gap-2">
      <img src="../../../../../assets/icons/Info 2.svg" alt="" />
      <small>{{
        "Copilot has generated the optimal distribution, with a possibility of minor deviations from the original selections."
          | translate
      }}</small>
    </div>
  </div>
  <canvas
    baseChart
    [data]="objectivesChartData"
    [options]="objectivesChartOptions"
    [legend]="true"
    [type]="'doughnut'"
    class="mt-5"
  >
  </canvas>
</div>

<div class="w-full md:w-[50vw]">
  <div
    class="h-full px-4 py-3 border rounded mt-4 relative"
    *ngIf="questionBankBluePrintData && questionBankBluePrintData.length"
  >
    <ng-container
      *ngFor="
        let questionBankBluePrint of questionBankBluePrintData;
        let i = index
      "
    >
      <div class="flex items-start justify-between mt-6">
        <p class="font-bold w-[60vw] md:w-[40vw] text-sm md:text-base">
          {{ i + 1 }}. {{ questionBankBluePrint.type }}
        </p>
        <p class="font-bold text-sm md:text-base min-w-[15vw] md:min-w-[7vw] text-end">
          {{ questionBankBluePrint.number_of_questions }} X
          {{ questionBankBluePrint.marks_per_question }} =
          {{
            questionBankBluePrint.number_of_questions *
              questionBankBluePrint.marks_per_question
          }}
        </p>
      </div>

      <div
        *ngFor="
          let distribution of questionBankBluePrint.question_distribution;
          let j = index
        "
      >
        <div class="grid grid-cols-12 mt-4 gap-4 items-center border rounded p-4 md:p-0 md:border-none">
          <p class="hidden md:block col-span-12 md:col-span-1">{{ j + 1 }}.</p>

          <div class="col-span-12 md:col-span-6">
            <label class="md:hidden form-control-label">Topic</label>
            <app-common-dropdown
              [dropDownValues]="bluePrintChapterDropdownOptions"
              [config]="bluePrintChapterDropdownConfig"
              [(ngModel)]="distribution.unit_name"
              [ngModelOptions]="{ standalone: true }"
            ></app-common-dropdown>
          </div>

          <div class="col-span-12 md:col-span-5">
            <label class="md:hidden form-control-label">Objective</label>
            <app-common-dropdown
              [dropDownValues]="bluePrintObjectiveDropdownOptions"
              [config]="bluePrintObjectiveDropdownConfig"
              [(ngModel)]="distribution.objective"
              [ngModelOptions]="{ standalone: true }"
              (valueUpdate)="bluePrintObjectiveChange()"
            ></app-common-dropdown>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>
