<div class="p-3">
    <div class="flex items-center">
        <img class="w-5 h-5 cursor-pointer" src="../../../../../assets/icons/Vector (3).svg"
            routerLink="/admin/user-management/list" alt="">
        <h1 class="text-xl md:text-[30px] font-bold text-content leading-[48px] ml-4">
            {{'Teacher Management' | translate}}
        </h1>
    </div>
    <div class="border text-content rounded my-5 p-6 bg-white" [ngClass]="{'pointer-events-none': mode === 'view'}">
        <h2 class="text-content text-3xl font-bold leading-[48px]">{{ (mode === "view" ? "View" : mode === "edit" ? "Edit" : "Add") | translate }} {{'Teacher' | translate}}
    </h2>

        <form [formGroup]="addForm" (ngSubmit)="on_form_submit()">
            <div class="mt-8">
                <div class="grid grid-cols-2 gap-4">
                    <div>
                        <label class="form-control-label">{{'Teacher Name' | translate}} <span *ngIf="mode!='view'" class="text-[16px] text-error">*</span></label>
                        <input formControlName="name" type="text" maxlength="255" autocomplete="off" class="form-control h-[44px] border-0 bg-shade-80"
                            placeholder="{{'Enter Teacher Name' | translate}}">
                       
                            <small class="form-control-error" *ngIf="submitted && f['name']?.errors?.['required']">{{'Teacher Name is required' | translate}}.</small>
                            <small class="form-control-error" *ngIf="submitted && f['name']?.errors?.['minlength']">{{'Teacher Name should be minimum 5 character long' | translate}}.</small>
                       
                    </div>
                    <div>
                        <label class="form-control-label">{{'Mobile Number' | translate}} <span *ngIf="mode!='view'" class="text-[16px] text-error">*</span></label>
                        <input formControlName="phone" type="text" maxlength="10" oninput="this.value=this.value.replace(/(?![0-9])./gmi,'')" autocomplete="off" class="form-control h-[44px] border-0 bg-shade-80"
                            placeholder="{{'Enter Mobile Number' | translate}}">
                        
                            <small class="form-control-error" *ngIf="submitted && f['phone']?.errors?.['required']">{{'Mobile Number is required' | translate}}.</small>
                            <small class="form-control-error"
                                *ngIf="submitted && f['phone'].errors?.['minlength']">{{'Phone number required should be 10 digits' | translate}}</small>

                            <small class="form-control-error"
                                *ngIf="submitted && !f['phone'].errors?.['minlength'] && f['phone'].errors?.['pattern']">{{'Invalid phone number' | translate}}</small>
                        
                    </div>
                </div>
                <div class="grid grid-cols-2 gap-4 mt-8">
                    <div>
                        <div class="cursor-pointer">
                            <app-form-dropdown [dropDownControlName]="'state'" [mode]="mode"
                                [dropDownCtrl]="convertToFormControl(f['state'])" [dropDownValues]="stateDropdownOptions"
                                [config]="stateDropdownconfig" [submitted]="submitted"></app-form-dropdown>
                                
                        </div>
                    </div>
                    <div>
                        <div class="cursor-pointer">
                            <app-form-dropdown [dropDownControlName]="'zone'" [mode]="mode"
                                [dropDownCtrl]="convertToFormControl(f['zone'])" [dropDownValues]="zoneDropdownOptions"
                                [config]="zoneDropdownconfig" [submitted]="submitted"></app-form-dropdown>
                                
                        </div>
                    </div>                    
                </div>
                <div class="grid grid-cols-2 gap-4 mt-8">                    
                    <div>
                        <div class="cursor-pointer">
                            <app-form-dropdown [dropDownControlName]="'district'" [mode]="mode"
                                [dropDownCtrl]="convertToFormControl(f['district'])"
                                [dropDownValues]="districtDropdownOptions" [config]="districtDropdownconfig"
                                [submitted]="submitted"></app-form-dropdown>
                                
                        </div>
                    </div>
                    <div>
                        <div class="cursor-pointer">
                            <app-form-dropdown [dropDownControlName]="'block'" [mode]="mode"
                                [dropDownCtrl]="convertToFormControl(f['block'])"
                                [dropDownValues]="blockDropdownOptions" [config]="blockDropdownconfig"
                                [submitted]="submitted"></app-form-dropdown>
                                
                        </div>
                    </div>
                </div>
                <div class="grid grid-cols-2 gap-4 mt-8">
                    <div>
                        <div class="cursor-pointer">
                            <app-form-dropdown [dropDownControlName]="'school'" [mode]="mode"
                                [dropDownCtrl]="convertToFormControl(f['school'])"
                                [dropDownValues]="schoolNamesDropdownOptions" [config]="schoolNameDropdownconfig"
                                [submitted]="submitted"></app-form-dropdown>
                                
                        </div>
                    </div>
                    <div>
                        <div class="cursor-pointer">
                            <app-form-dropdown [dropDownControlName]="'role'" [mode]="mode"
                                [dropDownCtrl]="convertToFormControl(f['role'])"
                                [dropDownValues]="userRolesDropdownOptions" [config]="userRoleDropdownconfig"
                                [submitted]="submitted"></app-form-dropdown>
                                
                        </div>
                    </div>
                </div>
            </div>
            <div class="buttons mt-8 flex items-center justify-end gap-2" *ngIf="mode !== 'view'">
                <button type="button" class="w-20 btn-outline-primary" routerLink="/admin/user-management/list">{{'Cancel' | translate}}</button>
                <button type="submit" [disabled]="addForm.pristine" class="btn-primary w-20 flex items-center justify-center">
                    <span class="mr-1">{{'Save' | translate}}</span>
                    <img src="../../../../../assets/icons/Vector (4).svg" alt="">
                </button>
            </div>
        </form>
    </div>
</div>