<div class="disable-popup-wrapper z-100">
  <div class="flex items-center justify-between mb-2">
    <h1 class="font-bold text-[20px] text-content">{{ modalHeader }}</h1>
    <img class="w-5 h-5 cursor-pointer" src="../../../../assets/icons/remove.svg" (click)="closeModal()" alt="" />
  </div>
  <p class="text-sm">{{ modalSubHeader }}</p>
  <table class="table-auto w-full border mt-5 rounded-lg text-content" aria-label="disable-popUp">
    <thead>
      <tr class="bg-primary-60 rounded-lg border-b">
        <th class="text-left p-4 rounded border-r" *ngFor="let header of tableData?.header">
          {{ header }}
        </th>
      </tr>
    </thead>
    <tbody>
      <tr class="border-b">
        <td class="p-4 border-r" *ngIf="tableData.data?.school_name">{{ tableData.data?.school_name | titlecase}}</td>
        <td class="p-4 border-r" *ngIf="tableData.data?.school_id">{{ tableData.data?.school_id }}</td>
        <td class="p-4 border-r" *ngIf="tableData.data?.district">{{ tableData.data?.district |titlecase}}</td>
        <td class="p-4 border-r" *ngIf="tableData.data?.zone">{{ tableData.data?.zone | titlecase}}</td>
        <td class="p-4 border-r" *ngIf="tableData.data?.user_name">{{ tableData.data?.user_name | titlecase}}</td>
        <td class="p-4 border-r" *ngIf="tableData.data?.role_name">{{ toast.formatValue(tableData.data?.role_name)| titlecase }}</td>
        <td class="p-4 border-r" *ngIf="tableData.data?.status">
          <span [ngClass]="tableData.data?.status==='Active' ? 'success-chip' : 'error-chip'">{{
            tableData.data?.status
            }}</span>
        </td>
        <td class="p-4 border-r" *ngIf="tableData.data?.more_icon">
          <img src="../../../../assets/icons/more_vert.svg" alt="" />
        </td>
      </tr>
    </tbody>
  </table>
  <div *ngIf="tableData.data?.school_name && users_of_school" class="my-3">
    <p> 
      <span *ngIf="users_of_school === 1">There is {{users_of_school}} teacher registered with this school. Deactivating this school will deactivate the teacher also. Do you want to proceed?</span> 
      <span *ngIf="users_of_school > 1">There are {{users_of_school}} teachers registered with this school. Deactivating this school will deactivate the teachers also. Do you want to proceed?</span>
    </p>
  </div>
  <div class="buttons mt-8 flex items-center justify-end gap-2">
    <button class="w-24 btn-outline-primary" (click)="closeModal()">Cancel</button>
    <button class="btn-primary w-24" (click)="disableUser()">Disable</button>
  </div>
</div>